/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  body{
    max-width:750px;
    width:100%;
  }

.mainVisual{
  background-image: url("../img/header_mv_img01_pc.png");
/*  background-image: url("../img/header_mv_img_sp.png");*/
  background-size: cover;
  position: relative;
  height: 258px;
 /* height: 470px;*/
  }
.header{
  position: absolute;
  z-index: 5;
  top: 25px;
  left: 0;
  width:80%;
}
.header-inner {
    margin:0 auto;
    margin-top:20px;
    width:80%;
}
.header-inner nav {  
    display: none;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding:20px 0;
}

.container-wrap {
    display:block;
}

.container-inner img {
    padding: 0 0 10px;
}
.section#experience{
    background-image: url("../img/bg03_sp.png");
    background-size: contain;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {
  .mainVisual{
  background-image: url("../img/header_mv_img01.jpg");
  background-size:100% 100% no-repeat;
  }
  .mainVisual img{
  max-width: 100%;
  height: auto;
}
}*/

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {

  }
} */

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }

@media only screen and (orientation: landscape) {
  body {
    background-color: #fff;
  }
}*/



/*@media screen and (max-width:768px){
.mainVisual img{
  max-width: 100%;
  height: auto;
}

.header{
  position: absolute;
  z-index: 5;
  top: 70px;
  left: 0;
    width: 100%;
}
.header-inner {
    padding:10px;
    max-width:1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header-inner h1{
    max-width: 20px;
    width: 100%;
    height: auto;
    margin-right:60px;
}
.sp nav {
    display: none;
}

.menu{
  max-width:30px; 
  width:100%;
  height:auto;
}
}

@media screen (max-width:768px) and (min-width: 768px){
section.about{
  
}
}*/